<a href="https://colab.research.google.com/github/alvas-education-foundation/Navya-courses/blob/master/Day_2_Session_1_Exercise_Programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. print multiples of 3 upto 200 using a list

In [1]:
def multiple(m, n): 
    a = range(n, (m * n)+1, n)   
    print(*a)   
m = 66
n = 3
multiple(m, n)

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99 102 105 108 111 114 117 120 123 126 129 132 135 138 141 144 147 150 153 156 159 162 165 168 171 174 177 180 183 186 189 192 195 198

2. print the nos only divisable by 5 and 7 between 1000 and 2000 using a list( both inclusive)

In [2]:
nl=[]
for x in range(1000, 2000):
    if (x%7==0) and (x%5==0):
        nl.append(str(x))
print (','.join(nl))

1015,1050,1085,1120,1155,1190,1225,1260,1295,1330,1365,1400,1435,1470,1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995

3.Print perfect squares and divisible by 5 between 500 and 1000( (both inclusive) using list

In [3]:
lower=int(input("Enter lower range limit:"))
upper=int(input("Enter upper range limit:"))
n=int(input("Enter the number to be divided by:"))
for i in range(lower,upper+1):
    if(i%n==0):
        print(i)

Enter lower range limit:60
Enter upper range limit:100
Enter the number to be divided by:10
60
70
80
90
100

4. Calculate the Average of the numbers in a list by getting the elements of list from keyboard

In [6]:
n=int(input("Enter the number of elements to be inserted:"))
a=[]
for i in range(0,n):
  elem=int(input("Enter element:"))
  a.append(elem)
avg=sum(a)/n
print("Average of elements in the list",round(avg,2))

Enter the number of elements to be inserted:3
Enter element:23
Enter element:45
Enter element:56
Average of elements in the list 41.33

#                                            **Tuples Exercise Programs**
 1.Get a string and store word by word as elements in a tuple and find the largest word in the tuple and print it

In [7]:
a=[]
n= int(input("Enter the number of elements in list:"))
for x in range(0,n):
    element=input("Enter element" + str(x+1) + ":")
    a.append(element)
max1=len(a[0])
temp=a[0]
for i in a:
    if(len(i)>max1):
       max1=len(i)
       temp=i
print("The word with the longest length is:")
print(temp)

Enter the number of elements in list:5
Enter element1:2
Enter element2:4
Enter element3:6
Enter element4:8
Enter element5:10
The word with the longest length is:
10

2.Get rollno and marks (Rollno, mark) as list of tuples for n number of students through keyboard and print them in marks descending order with rollno.

In [8]:
print(sorted([(input("Enter rollno: "), input("Enter marks: ")) for i in range(int(input("Enter number of students")))], key=lambda x: x[1],reverse=True))

Enter number of students2
Enter rollno: 1
Enter marks: 80
Enter rollno: 2
Enter marks: 70
[('1', '80'), ('2', '70')]

3.Get name and salary (name, salary) as list of tuples for n number of employees through keyboard and print them in name alphabetical order with salary

In [9]:
print(sorted([(input("Enter name: "), input("Enter salary: ")) for i in range(int(input("Enter number of employees")))], key=lambda x: x[0]))

Enter number of employees2
Enter name: Ravi
Enter salary: 15000
Enter name: Raju
Enter salary: 20000
[('Raju', '20000'), ('Ravi', '15000')]